.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  height: 700px;
  margin: 100px auto;
  background-color: #fdce4c;
  border-radius: 25px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 700px;
  margin: 0 auto;
  background-color: #fdce4c;
  border-radius: 25px;
}
